<tr class='clickable-row' data-href="/videos/<%=@page%>/<%=video.id%>">
  <th scope="row"></th>
  <td>
    <img src="<%=video.thumbnails[1]['url']%>"></img>
  </td>
  <td colspan="2"><%=video.title%></td>
</tr>
