<tr class='clickable-row' data-href="videos/<%=video.id%>/<%=video.subs%>">
  <th scope="row"></th>
  <td>
    <img src="<%=video.thumbnails[1]['url']%>"></img>
  </td>
  <td colspan="2"><%=video.title%></td>
</tr>
