<div id='zype_player'>
  <div id="zype_​<%=@video.id%>"></div><script src="https://player.zype.com/embed/<%=@video.id%>.js?autoplay=true&app_key=<%=ENV['ZYPE_APP_KEY']%>
  " type="text/javascript"></script>
</div>
