<div id='zype_player'>
  <div id="zype_​<%=@video.id%>"></div><script src="https://player.zype.com/embed/<%=@video.id%>.js?autoplay=true&access_token=<%=session[:token]%>
  " type="text/javascript"></script>
</div>
