<div id='zype_player'>
  <div id="zype_​<%=@video.id%>"></div><script src="https://player.zype.com/embed/<%=@video.id%>.js?autoplay=true&access_token=9940d1e6d3f4ff2a38da7248f0f292514c6d4efe0f6b586ed79b35b06f243b9b
  " type="text/javascript"></script>
</div>
