<div id='zype_player'>
<div id="zype_​56a7b83269702d2f834ed9b7"></div><script src="https://player.zype.com/embed/56a7b83269702d2f834ed9b7.js?autoplay=true&app_key=<%=ENV['ZYPE_APP_KEY']%>
" type="text/javascript"></script>
</div>
