<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <%@videos.each do |video|%>
      <%=render partial: 'videos/index_row', :locals => {:video => video, :page => @page} %>
    <%end%>
  </tbody>
</table>
<%=render partial: 'layouts/footer', :locals => {:page => @page}%>
