<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th></th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <%@videos.each do |video|%>
      <%=render partial: 'index_row', :locals => {:video => video} %>
    <%end%>
  </tbody>
</table>
