// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#zype_player {
  width: 50%
}
footer
{
    clear: both;

}
#left-paginate{
  float: left;

}
h1#center-paginate{
  margin: 0px auto;

}
#right-paginate{
  float: right;

}
footer *
{
    display: inline;

}
