<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <%=image_tag('Zype_logo.png', :alt => "Brand")%>
      </a>
    </div>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li >
  <% if session[:token]%>
  <%= link_to "logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete%>
  </li>
  <%else%>
  <li>
    <%=link_to 'Login', sessions_path %>
  </li>
  <%end%>
</nav>
