<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <%=image_tag('Zype_logo.png', :alt => "Brand")%>
      </a>
      <%= link_to "logout", {:controller=> "sessions", :action=> "destroy"}, :method => :delete%>
    </div>
  </div>
</nav>
